
{% extends 'GoTickets/base/base.html' %}
{% load static %}


{% block content %}
<div class="event-table-container">
    <table class="event-table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Organizer</th>
                <th>Description</th>
                <th>Location</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Price</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td><a href="/events/{{ event.id }}">{{ event.title }}</a></td>
                <td>{{ event.organizer }}</td>
                <td>{{ event.description }}</td>
                <td>{{ event.location }}</td>
                <td>{{ event.start_date | date:"Y-m-d" }}</td>
                <td>{{ event.end_date | date:"Y-m-d" }}</td>
                <td>${{ event.price | floatformat:2 }}</td>
                <td>
                    <img src="{{ event.image.url }}" alt="{{ event.title }}" style="width:100%;max-width:300px;">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
