{% extends 'GoTickets/base/base.html' %}

{% block content %}
<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Organizer</th>
            <th>Description</th>
            <th>Location</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Image</th>
        </tr>
    </thead>
    <tbody>
        {% for event in events %}
        <tr>
            <td><a href="/event/{{event.id}}">{{event.id}}</td>
            <td class="event-title">{{ event.title }}</td>
            <td class="event-organizer">{{ event.organizer }}</td>
            <td class="event-description">{{ event.description }}</td>
            <td class="event-location">{{ event.location }}</td>
            <td class="event-start-date">{{ event.start_date }}</td>
            <td class="event-end-date">{{ event.end_date }}</td>
            <td class="event-image">
                <img src="{{ event.image }}" alt="Image for {{ event.title }}" />
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
